<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuanAoGiaRe</title>
    <link rel="stylesheet" href="../CSS/style.css" />

    <script>
      let a = document.getElementById("topClothes");
    </script>
  </head>

  <body>
    <div class="container">
      <header>
        <nav class="menu">
          <li id="topClothes">
            <a href="">Top</a>
            <ul id="submenuTopClothes" class="submenu">
                <li>T-Shirt</li>
                <li>Blouse</li>
                <li>
                    <a href="">Jacket</a>
                    <ul id="menuJacket" class="submenuItem">
                        <li>Jacket Da</li>
                        <li>Hoodie</li>
                    </ul>
                </li>
            </ul>
        </li>
        
          <li id="bottomClothes">Bottom</li>
          <li id="accessoryClothes">Accessory</li>
          <li id="aboutUs">About Us</li>
          <li id="search">
            <form action="">
              <label for="">Search</label>
              <input type="search" />
            </form>
          </li>
          <li id="signIn">
            <p>Sign In</p>
          </li>
          <li id="myOrder">My Order</li>
        </nav>
      </header>
    </div>
  </body>
</html>
