<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Phone</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/phonePage.css" />
</head>

<body>
    <div class="container">
        <header>
            <a href="">
                <img src="" alt="logo" />
            </a>
            <form action="">
                <input type="text" name="" id="" placeholder="Type something here ..." />
                <button>mirror</button>
            </form>
            <a href="#">Giỏ Hàng</a>
            <a href="#">Lịch sử mua hàng</a>
            <a href="">Đăng Nhập</a>
        </header>
        <nav class="menu-main">
            <ul class="menu">
                <li class="menu-item">
                    <a href="View/PhonePage.html">Điện thoại</a>
                </li>
                <li class="menu-item">
                    <a href=""> Laptop</a>
                </li>
                <li class="menu-item">
                    <a href="">Tablet</a>
                </li>
                <li class="menu-item">
                    <a href="">Phụ kiện <span>!</span></a>
                    <ul class="submenu">
                        <li class="submenu-item">
                            <a href="">1</a>
                        </li>
                        <li class="submenu-item">
                            <a href="">2</a>
                        </li>
                        <li class="submenu-item">
                            <a href="">3</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="">Smartwatch</a>
                </li>
                <li class="menu-item">
                    <a href="">Đồng hồ</a>
                </li>
                <li class="menu-item">
                    <a href="">Máy cũ giá rẻ</a>
                </li>
                <li class="menu-item">
                    <a href="">PC, Máy in</a>
                </li>
                <li class="menu-item">
                    <a href="">Sim, thẻ cào</a>
                </li>
                <li class="menu-item">
                    <a href="">Dịch vụ tiện ích <span>!</span></a>
                    <ul class="submenu">
                        <li class="submenu-item">
                            <a href="">1</a>
                        </li>
                        <li class="submenu-item">
                            <a href="">2</a>
                        </li>
                        <li class="submenu-item">
                            <a href="">3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="content">

            <!-- Filter -->
            <nav class="filter">
                <ul class="menu-filter">
                    <li class="menu-item">
                        <label class="menu-item-name">Hãng</label>

                        <ul class="submenu-filter">
                            <li class="submenu-item">Samsung</li>
                            <li class="submenu-item">Apple</li>
                            <li class="submenu-item">Xiaomi</li>
                        </ul>
                    </li>

                    <li class="menu-item">
                        <p class="menu-item-name">Giá Tiền</p>
                    </li>
                    <li class="menu-item">
                        <p class="menu-item-name">Giá Tiền</p>
                    </li>
                    <li class="menu-item">
                        <p class="menu-item-name">Tính năng</p>
                    </li>
                    <li class="menu-item">
                        <p class="menu-item-name">Sắp xếp</p>
                    </li>
                </ul>
            </nav>

            <!-- Sort Way -->
<div class="sort">
    
</div>
            <!-- Display Product -->
            <div id="display-product" class="display-product">
                <div class="product">
                    <img src="" alt="">
                    <h5></h5>
                    <p></p>
                </div>

                <div class="product">
                    <img src="" alt="">
                    <h5></h5>
                    <p></p>
                </div>

                <div class="product">
                    <img src="" alt="">
                    <h5></h5>
                    <p></p>
                </div>

                <div class="product">
                    <img src="" alt="">
                    <h5></h5>
                    <p></p>
                </div>

                <div class="product">
                    <img src="" alt="">
                    <h5></h5>
                    <p></p>
                </div>

                <div class="product">
                    <img src="" alt="">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
        </div>


        <footer>
            <div class="">
                <address>
                    14 Nguyen Van Bao <br />
                    4 Ward <br />
                    Go Vap District <br />
                    Ho Chi Minh City
                </address>
            </div>
            <div class="policy">
                <a href="">Policy</a>
            </div>
            <div class="cotact">
                <a href="">Facebook</a>
                <a href="">Youtube</a>
                <a href="">Instagram</a>
            </div>
        </footer>
    </body>
    </div>

   
    <!-- <script src="/JS/controler/PhonePage.js" defer type="module"></script> -->

</html>